body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F5F5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  padding: 10px;
  height: 60px;
  background-color: black;
  max-height: 65px;
  color: white;
}

.nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.nav ul li a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
}

.container-products {
  display: flex;
  padding: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 3px 4px 10px gray;
}

.card img {
  border-radius: 5px 5px 0 0;
}

.card .reviews {
  font-size: 12px;
  position: relative;
  bottom: 25px;
  left: 160px;
}

.card .card-info {
  display: flex;
  padding: 5px;
  flex-direction: column;
}

.card .card-info .title {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  position: relative;
  bottom: 15px;

  max-height: 20px; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card .card-info .details {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.card .card-info .btn {
  border: none;
  color: white;
  padding: 5px 0;
  font-weight: bold;
  border-radius: 25px;
  margin-top: 10px;
}

.card .card-info .btn-red {
  background-color: #F82725;
}

.card .card-info .btn-red:hover {
  background-color: #CF221F;
}

.card .card-info .btn-blue {
  background-color: #1473E6;
}

.card .card-info .btn-blue:hover {
  background-color: #1057AD;
}

.fa-star {
  color: #E8D015;
}